<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>DevIdentity</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bi3-anndev-01.cloudapp.net:9015/Identity</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://bi3-anndev-01.cloudapp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>AnnIdentity/Identity</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>BI3DEV\devuser01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Anzu.AnnPortal.Identity.Service.Models.ApplicationDbContext, Anzu.AnnPortal.Identity.Service" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationSecurityDatabase" Order="7" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=annsec;User ID=ann_user;Password=nopassword@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Anzu.AnnPortal.Identity.Data.Model.ApplicationDbContext, Anzu.AnnPortal.Identity.Data.Model" MigrationConfiguration="Anzu.AnnPortal.Identity.Data.Model.Migrations.Configuration, Anzu.AnnPortal.Identity.Data.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationSecurityDatabase-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=annsec;User ID=ann_user;Password=nopassword@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>