<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application Error</title>
</head>
<body>
    <div>
        <h2>Application Error Occurred</h2>
        <hr />
        @RenderBody()
    </div>
</body>
</html>
