<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="AnnPortalDatabase" connectionString="Data Source=localhost;Initial Catalog=AestheticNeuralNetworksPortal;User ID=ann_user;Password=nopassword@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableBundling" value="true" />
    <add key="enableMinification" value="false" />
    <!--RR Login Url-->
    <add key="ExternalLoginEndpoint" value="https://www.anzumedical.com" />
    <!--RR Callback Url-->
    <add key="InternalLoginUrl" value="http://localhost:9000/Portal" />
    <add key="RR:JWTSecret" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
    <add key="RR:Url-GetUserDetailsFromUserToken" value="http://localhost:9001/RRSimulator/api/Mock/GetUserDetails" />
    <add key="Core:SitePrefix" value="/Portal" />
    <add key="EncryptionKey" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
    <add key="CookieExpireTimeInMinutes" value="1440" />
    <add key="domainname" value="localhost" />
    <add key="CoreServiceDomain" value="http://localhost:9000/Portal" />
    <add key="identityService" value="http://localhost:62524/" />
    <add key="cubeProcessingStep" value="8" />
    <add key="LevelThreeUnspecifiedId" value="720" />
    <add key="LevelFourUnspecifiedId" value="490" />
    <add key="UnspecifiedBreastImplantId" value="7" />
    <add key="ManualCubeProcessTimeout" value="5" />
    <add key="UnspecifiedBreastImplantId" value="7" />
    <!--EMAIL Settings-->
    <add key="ANNEmail" value="bi3dev_notification@brandixithree.com"/>
    <add key="PickupDirectoryLocation" value="C:\inetpub\mailroot\Pickup" />
    <add key="SmtpHost" value="localhost" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true"/>
    <customErrors mode="On" defaultRedirect="~/Error">
      <error statusCode="500" redirect="~/Errors/500.html?code=500" />
      <error statusCode="404" redirect="~/Errors/404.html?code=404" />
    </customErrors>
    <machineKey validationKey="C1391E13477657D4F277C8708A41B79FD49A347414C73AF6BEAC53DA6E847E57B7ABEBD5FEE3F83C12E9D553DBCDC8ED8127749631D9C9EB98029DFA6516BDAE" decryptionKey="F36AEBBE219FDBC0B9BE3B7E9F91AAB7FCB08E649ADD645D296945C7B3D4AEF1" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <!--<customHeaders>
        <remove name="X-Powered-By"></remove>
        <add name="X-Frame-Options" value="DENY"> </add>
        <add name="X-XSS-Protection" value="1; mode=block"></add>
        <add name="X-Content-Type-Options" value="nosniff "></add>
      </customHeaders>-->
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--
    <rewrite>
      <outboundRules>
        <rule name="CacheControl" preCondition="SelectedFiles" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Cache-control" pattern="*" />
          <action type="Rewrite" value="public, max-age=31536000" />
        </rule>
        <preConditions>
          <remove name="SelectedFiles" />
          <preCondition name="SelectedFiles" patternSyntax="Wildcard">
            <add input="{REQUEST_FILENAME}" pattern="*.js" />
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="*.css" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity>
    <typeAliases>
      <!-- Start Lifetime manager types -->
      <!--<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />-->
      <!-- End Lifetime manager types -->
      <!-- User-defined type aliases -->

      <typeAlias alias="IRepository" type="Anzu.AnnPortal.Data.Repository.IRepository, Anzu.AnnPortal.Data.Repository" />
      <typeAlias alias="BaseRepository" type="Anzu.AnnPortal.Data.EntityManager.BaseRepository, Anzu.AnnPortal.Data.EntityManager" />
      <typeAlias alias="IPracticeService" type="Anzu.AnnPortal.Business.API.Core.IPracticeService, Anzu.AnnPortal.Business.API.Core" />
      <typeAlias alias="PracticeService" type="Anzu.AnnPortal.Business.Core.Core.PracticeService, Anzu.AnnPortal.Business.Core.Core" />

      <typeAlias alias="IMetadataService" type="Anzu.AnnPortal.Business.API.Core.IMetadataService, Anzu.AnnPortal.Business.API.Core" />
      <typeAlias alias="MetadataService" type="Anzu.AnnPortal.Business.Core.Core.MetadataService, Anzu.AnnPortal.Business.Core.Core" />

      <typeAlias alias="INavigationService" type="Anzu.AnnPortal.Business.API.Core.INavigationService, Anzu.AnnPortal.Business.API.Core" />
      <typeAlias alias="NavigationService" type="Anzu.AnnPortal.Business.Core.Core.NavigationService, Anzu.AnnPortal.Business.Core.Core" />

      <!--End User-defined type aliases-->
    </typeAliases>
    <containers>
      <container name="CommonContainer">
        <types>
          <type type="IRepository" mapTo="BaseRepository" />
          <type type="IPracticeService" mapTo="PracticeService" />
          <type type="IMetadataService" mapTo="MetadataService" />
          <type type="INavigationService" mapTo="NavigationService" />
        </types>
      </container>
    </containers>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>