<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="enableBundling" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="enableMinification" value="false" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ExternalLoginUrl" value="http://bi3-anndev-01.cloudapp.net/RRSimulator/Account/Login?ReturnUrl={0}" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="InternalLoginUrl" value="http://bi3-anndev-01.cloudapp.net/Identity/Login/Login?ReturnUrl={0}" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RR:JWTSecret" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RR:Url-GetUserDetailsFromUserToken" value="http://bi3-anndev-01.cloudapp.net/RRSimulator/api/Mock/GetUserDetails" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Core:SitePrefix" value="/Portal" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CoreServiceDomain" value="http://bi3-anndev-01.cloudapp.net/Portal" />
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="identityService" value="http://bi3-anndev-01.cloudapp.net/Identity/" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <machineKey xdt:Transform="Replace" validationKey="4B33DC75EBD22A734C9988E6F82A33B382EE91870E5920E969B6EE384AACCD48DD8F8D0195B7DAC55DDFB1A5DFEF32BA553F7F2E6C0DF2F4FC509AC6EF8221DC" decryptionKey="0C4E806ACDC10FB6523CC8C436157EE330A820AD8D94787324F699B421124B9B" validation="SHA1" decryption="AES"/>
  </system.web>
</configuration>