<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="enableBundling" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="enableMinification" value="false" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ExternalLoginUrl" value="http://bi3-anndev-02.cloudapp.net/RRSimulator/Account/Login?ReturnUrl={0}" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="InternalLoginUrl" value="http://bi3-anndev-02.cloudapp.net/Identity/Login/Login?ReturnUrl={0}" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RR:JWTSecret" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RR:Url-GetUserDetailsFromUserToken" value="http://bi3-anndev-02.cloudapp.net/RRSimulator/api/Mock/GetUserDetails" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Core:SitePrefix" value="/Portal" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CoreServiceDomain" value="http://bi3-anndev-02.cloudapp.net/Portal" />
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="identityService" value="http://bi3-anndev-02.cloudapp.net/Identity/" />
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ANNEmail" value="bi3dev_notification@brandixithree.com" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <machineKey xdt:Transform="Replace" validationKey="D7A77E6B6C5EEB3D5C137F172CFE197A4BA14E639CBB1636269362CA82FF99B2F9E2E7CDA5E2ADEA804EFC3633C431E3D77615F77F41C121181BE69851C2EA47" decryptionKey="EFA457947D54602945975926EE3377791C436E822AAC949AC370B620DECAB945" validation="SHA1" decryption="AES"/>
  </system.web>
</configuration>