<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AnnPortalDatabase" connectionString="Data Source=localhost;Initial Catalog=AnnPortalDatabase;User ID=ann_user;Password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings> 
</configuration>